<%- include ('partials/header'); %>
<h1>
    <%if(errors){ %>
        <% errors.forEach(function(error){ %>
            <ul>
            <li>
                <%= error.msg %> 
            </li>
            </ul>
        <% }) %>
    <%} %>
    <form method="POST" action="/users/add">
        <label>First name</label><br>
        <input type="text" name="first_name" required>
        <br>
        <label>Last name</label><br>
        <input type="text" name="last_name" required>
        <br>
        <label>Email</label><br>
        <input type="text" name="email">
        <br><br><br>
        <input type="submit" name="Submit">
    </form>
</h1>
<h1><%= title %></h1>
<ul>
<% users.forEach(function(user){ %>
    <li>
        <%= user.first_name %> <%= user.last_name %> - <a href="#" class="deleteUser" data-id="<%= user._id %>">Delete</a>
    </li>
<% }) %>
</ul>
<%- include ('partials/footer'); %>